$text-on-wood: rgb(68, 55, 41);

* {
  margin: 0;
  padding: 0;
  //font-family: "Crimson Text", serif;
  font-family: "Patua One", cursive;

  // font-family: "Lobster", cursive;
}

button {
  font-size: 1.8rem;
  margin: 40px 0;
  color: $text-on-wood;
  padding: 14px 18px;
  border: none;
  background-color: transparent;
  border: 2px solid $text-on-wood;
  border-radius: 14px;
  height: 70px;
}
button:hover {
  color: goldenrod;
}
button:active {
  color: gold;
}

body {
  display: flex;
  justify-content: center;
  #start-screen {
    background-image: url("../img/start-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    width: 100vh;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .canvas-wrapper {
    position: relative;
    width: 640px;

    #canvas {
      border: 2px solid lightblue;
      position: absolute;
      top: 0%;
    }
    #score {
      font-family: "Lobster", cursive;
      font-size: 2rem;
      color: $text-on-wood;
      position: absolute;
      margin-top: 20px;
      right: 10%;
      transition: all;
    }
    .golden-letter {
      color: gold;
    }
    .game-over-background {
      background-color: rgba(0, 0, 0, 0.3);
      width: 640px;
      height: 640px;
      position: absolute;
      #game-over {
        color: $text-on-wood;
        font-size: 5rem;
        display: flex;
        justify-content: center;
        height: 500px;
        align-items: center;
        flex-direction: column;
        margin: 40px;

        background-image: url("../img/wooden-background.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        // #restart {
        //   font-size: 1.8rem;
        //   margin: 40px 0;
        //   color: $text-on-wood;
        //   padding: 14px 18px;
        //   border: none;
        //   background-color: transparent;
        //   border: 2px solid $text-on-wood;
        //   border-radius: 14px;
        // }
      }
    }
  }
}
