$text-on-wood: rgb(68, 55, 41);

* {
  margin: 0;
  padding: 0;
  //font-family: "Crimson Text", serif;
  font-family: "Patua One", cursive;
  // font-family: "Lobster", cursive;
}

button {
  font-size: 1.8rem;
  margin: 40px 0;
  color: $text-on-wood;
  padding: 14px 18px;
  border: none;
  background-color: transparent;
  border: 2px solid $text-on-wood;
  border-radius: 14px;
  height: 70px;
}
button:hover {
  color: goldenrod;
}
button:active {
  color: gold;
}

body {
  display: flex;
  justify-content: center;
  #start-screen {
    background-image: url("../img/start-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    width: 100vh;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .canvas-wrapper {
    position: relative;
    width: 640px;

    #canvas {
      border: 2px solid lightblue;
      position: absolute;
      top: 0%;
    }
    #top-row {
      display: flex;
      justify-content: space-between;
      position: absolute;
      margin: 20px;
      width: 90%;
      #health-container {
        display: flex;
        justify-content: flex-start;
        flex-wrap: nowrap;
        img {
          height: 30px;
          width: 30px;
        }
      }
      .score {
        font-family: "Lobster", cursive;
        font-size: 2rem;
        color: $text-on-wood;
        transition: all 500ms ease-out;
      }
    }

    .game-over-background {
      background-color: rgba(0, 0, 0, 0.3);
      width: 640px;
      height: 640px;
      position: absolute;
      #game-over {
        color: $text-on-wood;
        display: flex;
        justify-content: center;
        height: 500px;
        align-items: center;
        flex-direction: column;
        margin: 40px;

        background-image: url("../img/wooden-background.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        p {
          font-size: 1.3;
        }
        h2 {
          font-size: 5rem;
        }
      }
    }
  }
}

.golden-letter {
  color: gold !important;
  transform: scale(1.3);
}
