body {
  display: flex;
  justify-content: center;
  .canvas-wrapper {
    position: relative;
    width: 640px;
    #can-viewport {
      border: 2px solid lightblue;
      position: absolute;
      top: 0%;
    }
  }
}
