* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  .canvas-wrapper {
    position: relative;
    width: 640px;
    #canvas {
      border: 2px solid lightblue;
      position: absolute;
      top: 0%;
    }
    #score {
      font-family: "Lobster", cursive;
      font-size: 2rem;
      color: brown;
      position: absolute;
      margin-top: 20px;
      right: 10%;
      transition: all;
    }
    .golden-letter {
      color: gold;
    }
  }
}
